<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Edit Employee</title>
    <style>
      body{ background-image:url("https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg"); background-repeat:no-repeat; background-position:center; background-size:cover; padding:10px;}
      .panel h2{ color:#444444; font-size:18px; margin:0 0 8px 0;}
      .panel p { color:#777777; font-size:14px; margin-bottom:30px; line-height:24px;}
      .login-form .form-control {
      background: #f7f7f7 none repeat scroll 0 0;
      border: 1px solid #d4d4d4;
      border-radius: 4px;
      font-size: 14px;
      height: 50px;
      line-height: 50px;
      }
      .main-div {
      background: #ffffff none repeat scroll 0 0;
      border-radius: 2px;
      margin: 10px auto 30px;
      max-width: 38%;
      padding: 50px 70px 70px 71px;
      height: 800px;
      }

      .login-form .form-group {
      margin-bottom:10px;
      }
      .login-form{ text-align:center;}

      input {
        background: #f7f7f7 none repeat scroll 0 0;
        border: 1px solid #d4d4d4;
        border-radius: 4px;
        font-size: 14px;
        height: 20px;
        line-height: 50px;
        padding: 6px
      }

      .btn{
        background: #f0ad4e none repeat scroll 0 0;
        border-color: #f0ad4e;
        color: #ffffff;
        font-size: 14px;
        width: 80%;
        height: 50px;
        line-height: 50px;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="form-heading"><center>Add New Employee</center></h1>
      <div class="login-form">
        <form method="post" action="/addEmployee">
          <div class="main-div">
            <table width="100%" rules="all" style="text-align:left;" cellpadding="20" cellspacing="12">
              <col width="30%">
              <col width="70%">
              <tr>
                <td>
                  Employee Id
                </td>
                <td>
                  <input type="text" name="employeeId" value="{{employeeId}}">
                </td>
              </tr>
              <tr>
                <td>
                  Name
                </td>
                <td>
                  <input type="text" name="employeeName" value="{{employeeName}}">
                </td>
              </tr>
              <tr>
                <td>
                  DOB
                </td>
                <td>
                  <input type="date" name="employeeDOB" value="{{prettifyDate employeeDOB}}" >
                </td>
              </tr>
              <tr>
                <td>
                  Gender
                </td>
                <td>
                    <input type="radio" name="employeeGender" value="Male" id="rdGenderMale" checked="checked"> Male<br>
                    <input type="radio" name="employeeGender" value="Female" id="rdGenderMale"> Female
                </td>
              </tr>
              <tr>
                <td>
                  DOJ
                </td>
                <td>
                  <input type="date" name="employeeDOJ" value="{{prettifyDate employeeDOJ}}" >
                </td>
              </tr>
              <tr>
                <td>
                  Designation
                </td>
                <td>
                  <input type="text" name="employeeDesignation" value="{{employeeDesignation}}">
                </td>
              </tr>
              <tr>
                <td>
                  Salary
                </td>
                <td>
                  <input type="number" name="employeeSalary" value="{{employeeSalary}}">
                </td>
              </tr>
              <tr>
                <td>
                  Email
                </td>
                <td>
                  <input type="email" name="email" value="{{employeeContact.email}}">
                </td>
              </tr>
              <tr>
                <td>
                  Phone No
                </td>
                <td>
                  <input type="number" name="mobileNo" value="{{employeeContact.mobileNo}}">
                </td>
              </tr>
              <tr>
                <td>
                  Address
                </td>
                <td>
                  <input type="text" name="address" value="{{employeeContact.address}}">
                </td>
              </tr>
            </table>
            <br>
            <input type="submit" class="btn" value="Add">
          </div>
      </form>
      </div>
    </div>
  </body>
</html>
